.form__main-page {
    position: relative;
    padding: 32px;
    width: 80%;
    height: 100%;
}
.form__main-page form {
    position: relative;
    width: 80%;
    padding: 16px;
}
.buttons {
    position: absolute;
    width: 90%;
    height: 64px;
    margin: 16px 0 0;
}
.buttons button {
    background: transparent;
    border-radius: 4px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color:rgb(0, 57, 133);
}
.buttons .next {
    background-color: rgb(0, 57, 133);
    color: #fff;
    right: 16px;
    padding: 8px 16px;
}
.buttons .back {
    left: 16px;
    font-size: 1.1rem;
}
.buttons .next.confirm {
    background-color: #6259ff;
}
.salutation {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}
.salutation img {
    width: 64px;
    height: 64px;
}
.salutation h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.salutation p {
    width: 60ch;
    text-align: center;
    color:rgb(99, 99, 99);
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    .form__main-page {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 16px;
    }
    .form__main-page form {
        padding: 0;
        width: 100%;
    }
    .form__steps {
        width: 100%;
        height: auto;
        border-radius: 12px;
        margin: -200px 0 16px;
        background-color: aliceblue;
        padding: 32px 12px;
        display: flex;
        flex-direction: column;

    }
    .buttons {
        width: 100%;
        background-color: aliceblue;
        padding: 16px;
        border-radius: 12px;
    }
    .salutation {
        width: 95%;
        height: 100vh;
        margin: -200px 0 0;
        padding: 32px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        background-color: aliceblue;
    }
    .salutation p {
        width: 90%;
    }
}